<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.RentMapper">

    <select id="findOverdueReservations" resultType="Long" parameterType="Rent">
        SELECT * FROM rent
        <where>
 	       rent_status = 0 
 	       AND start_time = #{currentTime}
        </where>
    </select>

    <update id="updateReservationStatus" parameterType="Rent">
        UPDATE rent
        <set>
	        rent_status = 1
        </set>
        <where>
	        renter_id = #{renterId}
        </where>
    </update>

</mapper>