<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="web.dao.face.AdminDao">

	<!-- 관리자 배너 파일 업로드 -->
	<insert id="insertBanner" parameterType="Banner">
		INSERT INTO banner ( banner_no, origin_name, stored_name, file_type )
		VALUES ( banner_seq.nextval, #{originName}, #{storedName}, #{fileType} )
	</insert>

 	<select id="getStoredName" resultType="Banner" >
		SELECT
			banner_no, origin_name, stored_name, file_type
		FROM (
			SELECT rownum rnum, B.* FROM (
				SELECT * FROM banner
				ORDER BY banner_no DESC
			) B
		)
		WHERE rnum &lt;= 3
 	</select>
 	
 	<insert id="insertBoard" parameterType="Board">
    	<selectKey resultType="int" order="BEFORE" keyProperty="boardNo">
    		SELECT board_seq.nextval FROM dual
    	</selectKey>
 		INSERT INTO board(board_no, menu, cate, writer_id, writer_nick, write_date, hit, title, price, content, location)
 		VALUES(#{boardNo}, 4, 1, #{writerId}, '관리자닉', sysdate, 0, #{title}, 1, #{content}, '서울' )
 	</insert>
 	
	<!-- 공지사항 게시글 조회 -->
	<select id="selectAll" resultType="Board">
		SELECT board_no, writer_id, writer_nick, menu, cate, title, content, location, write_date
		FROM board
		<where>
			AND menu = 4
			AND cate = 1
		</where>
		ORDER BY board_no DESC
	</select>
	
	<!-- DB에서 이메일 받아오기 -->
	<select id="selectAllEmail" resultType="Map">
		SELECT email
		FROM usertb
		ORDER BY email
	</select>


</mapper>