<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="web.dao.face.AlertDao">
	<resultMap id="alertResultMap" type="Alert">
	    <id property="alertNo" column="alert_no"/>
	    <id property="content" column="content"/>
	    <id property="alertStatus" column="alert_status"/>
	    <id property="boardNo" column="board_no"/>
	    <id property="menu" column="menu"/>
	    <id property="id" column="id"/>
	    <id property="sender" column="sender"/>
	    <association property="board" javaType="Board">
	        <id property="boardNo" column="board_no"/>
	        <result property="title" column="title"/>
	        <!-- 기타 Board 엔터티의 필드들을 매핑 -->
	    </association>
	</resultMap>
	
	<select id="selectByUser" resultMap="alertResultMap" parameterType="Alert">
	    SELECT A.alert_no, A.content, A.alert_status, A.board_no, A.menu,
	        (SELECT nick FROM usertb U WHERE U.id = #{id}) AS id,
	        (SELECT nick FROM usertb U WHERE U.id = A.sender) AS sender,
	        B.title
	    FROM alerttb A
	    LEFT JOIN board B ON A.board_no = B.board_no
	    <where>
	        AND id = #{id }
	    </where>
	    ORDER BY A.alert_no DESC
	</select>

	<insert id="insertAlert" parameterType="Alert">
		<selectKey order="BEFORE" keyProperty="alertNo" resultType="int">
			SELECT alert_seq.nextval FROM dual
		</selectKey>
		INSERT INTO alerttb ( alert_no, id, sender, content,  board_no, menu )
		VALUES ( #{alertNo }, #{id }, #{sender }, #{content }, #{boardNo }, #{menu } )
	</insert>

	<update id="updateAlertStatus" parameterType="Alert">
		UPDATE alerttb
		<set>
			alert_status = 1,
		</set>
		<where>
			AND alert_no = #{alertNo }
		</where>
	</update>
	
	<select id="countStatus">
		SELECT count(*) FROM alerttb
		<where>
			AND id = #{id }
			AND alert_status = 0
		</where>
	</select>
	
	<delete id="deleteAlert">
		DELETE alerttb
		<where>
			AND alert_no = #{alertNo}
		</where>
	</delete>
	
	<delete id="deleteAll">
		DELETE alerttb
		<where>
			AND id = #{id}
		</where>
	</delete>

</mapper>