<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="web.dao.face.MenuPleaseDao">
  
	<sql id="selectBoard">
		SELECT
			board_no, writer_id, writer_nick, write_date, hit, menu
			, title, price, content, location
		FROM board
		<where> 
			menu = #{menu }
		</where>
	</sql>

	<select id="selectAll" resultType="Board" parameterType="web.util.Paging">
		SELECT * FROM (
		    SELECT rownum rnum, B.* FROM (
				<include refid="selectBoard" />
				ORDER BY board_no DESC
		    ) B
		) WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>
	
	
	<select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
		SELECT count(*) FROM (
			<include refid="selectBoard" />
		)
	</select>
	
	
	<update id="updateHit" parameterType="Board">
		UPDATE board
		<set>
			hit = hit + 1,
		</set>
		<where> 
			AND board_no = #{boardNo}
		</where>
	</update>
	
	<select id="selectByBoardNo" resultType="Board" parameterType="Board">
    	SELECT * FROM board
    	WHERE board_no = #{boardNo}
    </select>
	
 	<insert id="insert" parameterType="Board">
		<selectKey order="BEFORE" resultType="int" keyProperty="boardNo">
			SELECT board_seq.nextval FROM dual
		</selectKey>
	
		INSERT INTO board ( board_no, title, content, writer_id, writer_nick, menu )
		VALUES ( #{boardNo}, #{title}, #{content}, #{writerId}, '닉수정필요', '메뉴수정필요' )
	</insert>

	<insert id="insertFile" parameterType="FileTb">
		<selectKey order="BEFORE" resultType="int" keyProperty="fileNo">
			SELECT filetb_seq.nextval FROM dual
		</selectKey>
		
		INSERT INTO filetb ( file_no, board_no, origin_name, stored_name, file_type )
		VALUES ( #{fileNo}, #{boardNo}, #{originName}, #{storedName}, #{fileType} )
	</insert>
	
	<select id="selectFileByBoardNo" resultType="FileTb" parameterType="Board">
		SELECT
			file_no, board_no, origin_name, stored_name, file_type
		FROM filetb
		<where> 
			board_no = #{boardNo}
		</where>
	</select>
	
	<select id="selectFileByFileNo" resultType="FileTb" parameterType="FileTb">
		SELECT
			file_no, board_no, origin_name, stored_name, file_type
		FROM filetb
		<where> 
			file_no = #{fileNo}
		</where>
	</select>
	
 	<delete id="deleteFileByBoardNo" parameterType="Board">
		DELETE boardfile
		<where>
			board_no = #{boardNo}
		</where>
	</delete>
	
	<delete id="deleteByBoardNo" parameterType="Board">
		DELETE board
		<where>
			board_no = #{boardNo}
		</where>
	</delete>
	
	
	<select id="selectByMenu" resultType="Board" parameterType="Board">
		SELECT menu
		FROM board
		WHERE menu = #{menu}
	</select>
	
 	
  
 </mapper>