<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="web.dao.face.MenuShareDao">
	<sql id="selectBoard">
        SELECT 
        	board_no, writer_id, write_date, hit, menu
        	, title, price, content, location
        FROM board
        <where>
        	menu = #{menu}
        </where>
     </sql>
     
    <select id="selectCntAll" resultType="int" parameterType="web.util.Paging">
	SELECT count(*) FROM (
		<include refid="selectBoard"/>
	)
    </select>
    
    <select id="selectAll" resultType="Map" parameterType="web.util.Paging">
    		SELECT * FROM (
    SELECT rownum rnum, B.* FROM (
        SELECT 
            board_no, writer_id, write_date, hit, menu,
            title, price, content, location,
            (SELECT stored_name FROM fileTB WHERE fileTB.board_no = board.board_no AND rownum = 1) AS stored_name
        FROM board
        WHERE menu = #{menu}
        ORDER BY board_no DESC
    ) B
) 
WHERE rnum BETWEEN #{startNo} AND #{endNo}
    </select>
    
    <select id="selectByBoardNo" resultType="Board" parameterType="Board">
    	SELECT * FROM board
    	WHERE board_no = #{boardNo}
    </select>
    
    <update id="updateHit" parameterType="int">
    	UPDATE board
    	SET hit = hit + 1
    	<where>
    		board_no = #{boardNo}
    	</where>
    
    </update>
    
    <select id="selectByMenu" resultType="Board" parameterType="Board">
    	SELECT menu FROM board
    	<where>
    		menu = #{menu}
    	</where>
    
    </select>
    
    <insert id="insertBoard" parameterType="Board">
    	<selectKey resultType="int" order="BEFORE" keyProperty="boardNo">
    		SELECT board_seq.nextval FROM dual
    	</selectKey>
    	INSERT INTO board(board_no, menu, writer_id, writer_nick, title, price, content,location)
    	VALUES ( #{boardNo}, #{menu}, #{writerId}, '두둠칫' , #{title}, #{price},#{content},'서울')
    </insert>
    
    <insert id="insertFile" parameterType="FileTb">
    	<selectKey resultType="int" order="BEFORE" keyProperty="fileNo">
    		SELECT fileTb_seq.nextval FROM dual
    	</selectKey>
    	INSERT INTO fileTb( file_no, origin_name, stored_name, file_type, board_no)
    	VALUES( #{fileNo}, #{originName}, #{storedName}, #{fileType}, #{boardNo})
    </insert>
    
    <select id="selectFileImg" resultType="FileTb" parameterType="FileTb">
    	SELECT stored_name FROM fileTb
    	<where>
    		board_no = #{boardNo}
    	</where>
    </select>
    
    <select id="selectBoardfileByBoardNo" resultType="FileTb" parameterType="Board">
		SELECT file_no, board_no, origin_name, stored_name FROM fileTb
		<where> 
			board_no = #{boardNo}
		</where>
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		<set>
			, title = #{title } , content = #{content } 
		</set>
		<where> 
			board_no = #{boardNo }
		</where>
	</update>
	
	<delete id="deleteFiles" parameterType="int[]">
		DELETE fileTb
		<where>
		file_no IN
		<foreach collection="array" item="no" open="(" close=")" separator=","> #{no } </foreach>
		</where>
	</delete>
	
	<delete id="deleteByBoardNo" parameterType="Board">
		DELETE board
		<where>
		board_no = #{boardNo}
		</where>
	</delete>
	
	<delete id="deleteFileByBoardNo" parameterType="Board">
		DELETE fileTb
		<where>
		board_no = #{boardNo}
		</where>
	</delete>
	
</mapper>